<% provide(:title,"About")%>
    <h1> ABOUT FRUITY BOIS </h1>
    <p>Fruity Bois is an international megacorp with ambiguous intent. Established eons ago, Fruity bois has many unsavory contacts, a vast network of influence, and inimitible branding. Contact our booking manager for sponsorship opportunities!</p>


